@model List<VM.Main.Web.Models.FaceRecoViewModel>

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <td>Id</td>
                    <td>Question Title</td>
                    <td>Author</td>
                    <td>Last Modified</td>
                </tr>
                
                @foreach(var fc in Model)
                {
                    @Html.Partial("_FaceRecoTableRow",fc);
                }

            </table>
        </div>
    </body>
</html>