@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="panel noti-box">
        <span class="icon-box bg-color-red set-icon">
            <i class="fa fa-play-circle-o"></i>
        </span>
        <span class="icon-box bg-color-green set-icon">
            <i class="fa fa-meh-o"></i>
        </span>
        <span class="icon-box bg-color-blue set-icon">
            <i class="fa fa-volume-up"></i>
        </span>
        <span class="icon-box bg-color-brown set-icon">
            <i class="fa fa-question-circle"></i>
        </span>
    </div>

    <h1 style="text-align: center">Vocal Minds</h1>

    <p class="lead">Let your mind communicate with the world</p>
</div>

<div class="row" align="center">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
                <i class="fa fa-play-circle-o"></i>
            </span>
            <div class="text-box">
                <p class="main-text">Social Simulator</p>
                <p class="text-muted">Talk to someone inside your computer!</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-green set-icon">
                <i class="fa fa-meh-o"></i>
            </span>
            <div class="text-box">
                <p class="main-text">Face Recognition Game</p>
                <p class="text-muted">See if you can guess what the person is feeling</p>
            </div>
        </div>
    </div>
    </div>
    
<div class="row" align="center">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue set-icon">
                <i class="fa fa-volume-up"></i>
            </span>
            <div class="text-box">
                <p class="main-text">Voice Recognition Game</p>
                <p class="text-muted">Hear the tone of voice, what is the person feeling</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-brown set-icon">
                <i class="fa fa-question-circle"></i>
            </span>
            <div class="text-box">
                <p class="main-text">New Feature?</p>
                <p class="text-muted">Pending</p>
            </div>
        </div>
    </div>
</div>